/**
 * 7Summits - Wealth Enhancement Group - Salesforce Community Experience
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.welcome-text {
  position: relative;
  height: 22px;
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.55px;
  text-align: left;
  color: #fff;
}
.welcome-header {
  position: relative;
  height: 38px;
  margin-bottom: 45px;
  font-size: 38px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.68;
  letter-spacing: -1.9px;
  text-align: left;
  color: #fff;
}