/**
 * Created by karolbrennan on 4/14/21.
 */
* {
  font-family: ProximaNova, sans-serif;
}
h2 {
  font-size: 38px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.68;
  letter-spacing: -1.9px;
  text-align: left;
  color: #000000;
  position: relative;
  margin-bottom: 92px;
}
h2:after {
  width: 100px;
  height: 3px;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: #3f9c35;
}
h3 {
  font-size: 27px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 30px;
}
.slds-card {
  border: none;
  padding: 41px 30px 42px 32px;
  border-radius: 8px;
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}
@media screen and (min-width: 40em) {
  .slds-card {
    margin-top: 40px;
  }
}
strong {
  color: #3f9c35;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.36px;
  text-align: left;
}
ul {
  list-style: disc;
  margin: 10px 0 20px 20px;
}
ul li {
  color: #63656a;
}
ul li,
p {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
}
a {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 4;
  letter-spacing: normal;
  text-align: left;
  color: #00777a;
}
a:hover {
  color: #005a5b;
}