/**
 * Created by karolbrennan on 6/4/21.
 */

.THIS .slds-modal__close {
    top: 0;
    right: 0;
}
@media (min-width: 48em) {
    .THIS .slds-modal__container {
        margin: 0 auto;
        width: auto;
        max-width: 80%;
        min-width: unset;
    }
}