/**
 * 7Summits - Wealth Enhancement Group - Salesforce Community Experience
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.x7s-unifi {
  font-family: ProximaNova, sans-serif;
}
.x7s-unifi .x7s-theme__logo-link {
  width: 180px;
  height: 70px;
}
.x7s-unifi .slds-button {
  border-radius: 1.5rem;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.x7s-unifi .slds-button.slds-button_neutral {
  background-color: #f6f8f6;
  border-color: #f6f8f6;
  color: #000;
}
.x7s-unifi .slds-button.slds-button_neutral:hover {
  border-color: #000;
}
.x7s-unifi .slds-button.slds-button_brand {
  background-color: #00777a;
  border-color: #00777a;
  color: #fff;
}
.x7s-unifi .slds-button.slds-button_brand:hover {
  background-color: #3f9c35;
  border-color: #3f9c35;
}
.x7s-unifi .slds-button.slds-button_outline-brand {
  background-color: #fff;
  border-color: #00777a;
  color: #00777a;
}
.x7s-unifi .slds-button.slds-button_outline-brand:hover {
  background-color: #3f9c35;
  border-color: #3f9c35;
  color: #fff;
}
.x7s-unifi_nav {
  background-color: #63656a;
}