/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-frame-c-arrow-right: unicode(ea02);
$icon-frame-c-arrow-left: unicode(ea04);
$icon-t-warning: unicode(ea05);
$icon-e-remove: unicode(ea06);
$icon-t-warning-2: unicode(ea09);
$icon-c-info: unicode(ea0a);
$icon-ban: unicode(ea0b);
$icon-c-info-2: unicode(ea0c);
$icon-s-ban: unicode(ea0d);
$icon-e-remove-2: unicode(ea0e);
$icon-frame-c-arrow-left-2: unicode(ea0f);
$icon-frame-c-arrow-right-2: unicode(ea10);

.icon-frame-c-arrow-right::before {
  content: $icon-frame-c-arrow-right;
}

.icon-frame-c-arrow-left::before {
  content: $icon-frame-c-arrow-left;
}

.icon-t-warning::before {
  content: $icon-t-warning;
}

.icon-e-remove::before {
  content: $icon-e-remove;
}

.icon-t-warning-2::before {
  content: $icon-t-warning-2;
}

.icon-c-info::before {
  content: $icon-c-info;
}

.icon-ban::before {
  content: $icon-ban;
}

.icon-c-info-2::before {
  content: $icon-c-info-2;
}

.icon-s-ban::before {
  content: $icon-s-ban;
}

.icon-e-remove-2::before {
  content: $icon-e-remove-2;
}

.icon-frame-c-arrow-left-2::before {
  content: $icon-frame-c-arrow-left-2;
}

.icon-frame-c-arrow-right-2::before {
  content: $icon-frame-c-arrow-right-2;
}

