/**
 * 7Summits - Wealth Enhancement Group - Salesforce Community Experience
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
h1 {
  font-size: 38px !important;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.68;
  text-align: left;
  color: #000;
  position: relative;
  margin-bottom: 30px;
}
h1:after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 3px;
  background-color: #3f9c35;
}
.preferences-line-item {
  margin-bottom: 57px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.33;
  letter-spacing: normal;
  text-align: left;
  color: #080707;
  border: solid 1px #e4e4e4;
  border-width: 0px 0px 1px 0px;
}
.pref-checkbox {
  display: inline-block;
}